#scheduler {
    width: 100%;
    border: 3px black solid;
    border-radius: 2rem;
    overflow: hidden;
}
.scheduler__header{
text-align: center;
}
.scheduler__container{
    width: 100%;
}
.scheduler__calendar {
    width: 100%;
    height: 300px;
}