.home__layout__container {
  display: flex;
  height: auto;
  padding: 2rem 1rem 1rem;
  justify-content: center;
  gap: 1rem;

}

.home__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 83vh;
  padding: 2rem;
  flex: 1 1 auto; /* 유동적으로 크기 조정 */
  max-width: 60%; /* 최대 너비 제한 */
  border: 1px black solid;
  border-radius: 2rem;
}

.home__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 83vh;
  padding: 2rem;
  flex: 1 1 auto; /* 유동적으로 크기 조정 */
  border: 1px black solid;
  border-radius: 2rem;
  max-width: 30%; /* 최대 너비 제한 */
}