.home__layout__container {
  display: flex;
  height: auto;
  padding: 1rem 5rem;
  justify-content: center;

}

.home__left {
  height: 90vh;
  padding: 2rem;
  flex: 0 0 50%;
  border: 1px black solid;
}

.home__right {
  height: 90vh;
  padding: 2rem;
  flex: 0 0 30%;
  border: 1px black solid;
}